#thanks.popup.uk-flex-top(data-uk-modal)
  .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
    button.popup__close.uk-modal-close-default(type="button" data-uk-close)
    .quiz__main 
      .quiz-slide-wrap
        h1 Спасибо