+popup()#thanks
	.ibg
		+picture(jpg, `${modules}popup-thanks-bg`, 'sm')
	.main
		p.title Готово!
		p.subtitle Спасибі, що скористалися послугами#[br] нашої компанії.#[br.d-md-none] Ми передзвонимо#[br.d-md-none] протягом 5 хвилин
		a.logo(href="/")
			img.logo-img(src=`${modulesIco}logo-dark.svg` alt=companyName)
			p.logo-title Будiвництво та ремонт