- var companyName = "pro kvadrat"

//- links 

- var phoneLink = "tel:+380638671191"
- var phoneNumber = "+38&nbsp;063&nbsp;867&nbsp;11&nbsp;91"
- var mailAdress = "prokvadrat.cleaning@gmail.com"
- var privacyLink = "/privacy-policy.pdf"


//- social
- var instLink = "https://instagram.com/prokvadrat_cleaning?igshid=1v3c02ez3lfoh"
- var fbLink = "https://www.facebook.com/prokvadratcleaning"

//- image placeholder
- var ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
//- image paths
- var assets = "assets/images/"
- var modules = `/modules/images/`

- var assetsIco = "assets/images/icons/"
- var modulesIco = `/modules/images/icons/`

//- grid breakpoints
- var sm = 420
- var md = 768
- var lg = 1280

//- colors 

- var primary = "#57C757"
- var muted = "#C5C5C5"

//- lang
- var language = 'ru'


- var lang = {}
if language == 'ukr'
	-
		lang = {
			title: `Професійна хімчистка та прибирання в м Черкаси | Перша прибирання зі знижкою 50% | Відповімо протягом 5 хвилин`,
			description: `Професійна хімчистка та прибирання. Виберіть будь-який тип прибирання: від квартир і будинків, до офісів і ресторанів. Залиште заявку, розрахуємо вартість і подаруємо знижку в розмірі 50% на перше прибирання або хімчистку.`,
			policy: 'Політика конфіденційності',
			cb: 'Зворотний дзвінок',
			urName: `Ваше ім'я`,
			motto: 'Будiвництво та ремонт',
			1: 'Україна г. Черкаси',
			2: 'Замовити зворотній дзвінок',
			3: 'Ми зараз онлайн',
			4: ['ПРОФЕСІЙНА', 'ХІМЧИСТКА І ПРИБИРАННЯ'],
			5: 'Залиште заявку і отримаєте знижку<br> 50% на перше прибирання',
			6: 'Відправити заявку',
			7: ['Квартири', 'Автомобiлi', 'Хімчистка', 'Офіси'],
			8: ['від 20 грн/м2', 'від 100 грн/м2', 'від 100 грн/м2', 'від 30 грн/м2'],
			9: 'Коротке відео про нас',
			10: ['Чистячі засоби', 'сертифіковані', 'Безпечні для дітей і тварин'],
			11: ['Персонал пройшов', 'навчання'],
			12: ['Оплата після', 'прибирання'],
			13: 'Виберіть тип прибирання',
			14: [
				['Квартири<br> котеджi', 'разова', 'планова', 'генеральна', 'після ремонту', 'до / після свята'],
				['Офіси<br> i ресторани', 'будь-яка площа', 'килимові покриття', 'професійна підлогомиюча машина'],
				['Хімчистка м’ких<br> меблiв', `будь-яка м'які меблі`, 'матраци', 'килими', 'сушка після чистки'],
				['Автомобiлi', 'хімчистка салону<br> автомобіля', 'спецзасоби для<br> пластикових, шкіряних<br> поверхонь']
			],
			15: 'Або задайте питання',
			16: 'Олена Романенко',
			17: 'менеджер',
			18: 'Задати питання',
			19: 'Нам довіряють',
			20: '60% клієнтів звертаються до&nbsp;нас за&nbsp;рекомендацією',
			21: [
				'Весь персонал пройшов навчання і склав іспити. Вони знають як виконувати навіть найскладніші завдання, робота по регламенту.', 
				'Німецькі сертифіковані засоби. Безпечні для дітей і тварин. Сучасна спеціалізована техніка.', 
				'Прибирання в зручний для Вас час. Враховуємо Ваші побажання.', 
				'Ми не заважаємо Вам в процесі прибирання. Про все попереджаємо і запитуємо, щоб не нашкодити. Додатково приготуємо їжу до Вашого приходу.'
				],
			22: 'Працюємо за договором з гарантією якості. Оплата після збирання.',
			23: 'Анастасія Савченко',
			24: 'Керівник відділу прибирання',
			25: 'Професійна команда',
			26: [
				['Марія', 'завідуюча<br> з клінінгу'],
				['Людмила', 'клинер'],
				['Анастасія', 'клинер'],
				['Дмитро', 'промисловий<br> альпініст'],
				['Влад', `майстер&nbsp;хімчистки<br> м'яких меблів`]
			],
			27: 'Контроль якості',
			28: 'Ми знаємо якими засобами мити поверхні',
			29: `Менеджер на зв'язку 24/7`,
			30: 'Всі питання і побажання досить повідомити менеджеру. Він грамотно скоординує дії персоналу.',
			31: [
				'Очищаємо меблі від&nbsp;шерсті і запахів тварин.',
				'Не залишаємо розводів на&nbsp;поверхнях. Засоби не&nbsp;псують тканину, пластик, дерево.',
				'Дотримуємося техніки безпеки. При&nbsp;митті вікон користуємося страховкою.',
				'Грамотно підбираємо засоби від забруднень. Цікавимося природою походження плями.'
				],
			32: ['Свій інвентар.', 'Прибирання&nbsp;в&nbsp;масках, рукавичках і спеціальних костюмах.', ' Миючі засоби безпечні для дітей і&nbsp;алергіків.'],
			33: ['Залиш заявку прямо зараз', ' отримай знижку 50%', 'на&nbsp;перше прибирання!'],
			34: 'Безкоштовний виїзд фахівця',
			35: 'для виміру, складання вартості, обговорення побажань',
			36: 'Замовити прибирання',
			37: [`Виїзд фахівця не обов'язковий`, 'Вартість можна розрахувати по&nbsp;телефону.'],
			38: 'Наши роботи',
			39: ['Крісла', 'Дивани', 'Килими', 'Кухні', 'Каміни', 'Iнше'],
			40: 'Що входить в прибирання?',
			41: [
				{
					title: 'Квартири і будинки',
					points: [
						'Миємо все: підлога, стіни, стеля, вікна',
						'Не псуємо поверхню. Знаємо які засоби видаляють які плями.',
						'В кінці роботи ставимо речі на свої місця.',
						'Приготуємо їжу до Вашого приходу в разі потреби.'
					]
				},
				{
					title: 'Після ремонту',
					points: [
						'Будівельне сміття прибираємо спеціалізованим обладнанням',
						'Знепилюємо всі поверхні',
						'Професійна підлогомиюча машина для будь-якого підлогового покриття',
						'Фотографуємо дефекти ремонту, складаємо список. Ви зможете звернутися до будівельної організації, яка повинна їх виправити.',
					]
				},
				{
					title: `Хімчистка м'яких меблів`,
					points: [
						'Підбираємо засоби так, щоб забруднення видалялися відразу',
						`Чистимо м'які меблі і сушимо її`,
						'Користуємося професійними німецькими засобами',
					]
				},
				{
					title: 'Офіси',
					points: [
						'Прибирання будь-якої площі',
						'Використовуємо спеціалізовану техніку для очищення великих поверхонь',
						'Професійна підлогомиюча машина для будь-якого підлогового покриття',
					]
				},
				{
					title: 'Ресторани',
					points: [
						'Прибирання будь-якої площі',
						'Використовуємо спеціалізовану техніку для очищення великих поверхонь',
						'Професійна підлогомиюча машина для будь-якого підлогового покриття',
					]
				},
				{
					title: 'Салони автомобілів',
					points: [
						'Прибирання в салоні автомобіля спеціалізованою технікою',
						'Спецзасоби для текстилю, шкіри, дерева і пластику',
						'Видаляємо запах сигарет і затхлості',
						'Відчуття нового автомобіля після хімчистки',
					]
				}
			],
			42: ['60% клієнтів звертаються до нас', 'за&nbsp;рекомендаціями'],
			43: 'Дивитися&nbsp;відеовідгук',
			44: 'Відповідаємо на найчастіші питання клієнтів',
			45: [
				'Які хімічні засоби використовуєте? Вони безпечні?',
				'Яку техніку використовуєте? Техніка якісна?',
				'Хто прибирає? Люди навчені? Я можу бути спокійна за безпеку?',
				'Що потрібно підготувати до вашого приїзду?',
				'Можете приїхати рано вранці або пізно ввечері?',
				],
			46: 'Усі засоби з сертифікатом якості. Антиалергенні. Нешкідливі для дітей і тварин. Ніяких різких запахів. У будинку залишиться тільки приємна свіжість.',
			47: 'Сертифікати якості',
			48: 'Професійне прибирання квартир, офісів,<br> приміщень, котеджів, салонів автомобілів',
			49: 'Відповімо протягом 5 хвилин',
			50: [
				'Натискаючи на кнопку, я погоджуюся',
				'з політикою конфіденційності'
			],
			51: 'Де прибираємо?',
			52: ['Квартира', 'Котедж', 'Офіс', 'Ресторан', 'Разова', 'Генеральна', 'Після ремонту', ''],
			53: 'Виберіть тип прибирання',
			54: `Вкажіть номер телефону для зв'язку`,
			55: '3 години',
			56: ['Покриття підлоги', 'Стільці', 'Дивани', 'Килими', 'Крісло'],
			57: 'Виберіть предмети меблів',
			58: ['Чистка подушок', 'в подарунок!'],
			59: 'Ми уточнимо кілька питань і розрахуємо вартість',
			60: 'Для виміру, складання вартості, виявлення побажань',
			61: 'Далі',
			62: ['Питання:', 'з'],
			63: ['Квартири котеджі', 'Офіси та ресторани', `Хімчистка м'яких меблів`, 'Автомобілі'],
			64: 'Вкажіть розмір приміщення і ваш номер телефону',
			65: 'Площа',
			66: 'Готово!',
			67: 'Спасибі, що скористалися послугами нашої компанії',
			68: 'Ми передзвонимо протягом 10&nbsp;хвилин',
		}
else
	-
		lang = {
			title: `Профессиональная химчистка и уборка в г. Черкассы | Первая уборка со скидкой 50% | Ответим в течение 5 минут`,
			description: `Профессиональная химчистка и уборка. Выберите любой тип уборки: от квартир и домов, до офисов и ресторанов. Оставьте заявку, рассчитаем стоимость и подарим скидку в размере 50% на первую уборку или химчистку.`,
			policy: 'Политика конфиденциальности',
			cb: 'Обратный звонок',
			urName: 'Ваше имя',
			motto: 'Строительство и ремонт',
			1: 'Украина г. Черкассы',
			2: 'Заказать обратный звонок',
			3: 'Сейчас онлайн',
			4: ['ПРОФЕССИОНАЛЬНАЯ', 'ХИМЧИСТКА И УБОРКА'],
			5: 'Оставьте заявку и получите скидку<br> 50% на первую уборку',
			6: 'Отправить заявку',
			7: ['Квартиры', 'Автомобили', 'Химчистка', 'Офисы'],
			8: ['от 20 грн/м2', 'от 100 грн/м2', 'от 100 грн/м2', 'от 30 грн/м2'],
			9: 'Короткое видео о нас',
			10: ['Чистящие средства', 'сертифицированы', 'Безопасны для детей и животных'],
			11: ['Персонал прошедший', 'обучение'],
			12: ['Оплата после', 'уборки'],
			13: 'Выберите тип уборки',
			14: [
				['Квартиры<br> коттеджи', 'разовая', 'плановая', 'генеральная', 'после ремонта', 'до / после праздника'],
				['Офисы<br> и рестораны', 'любая площадь', 'ковровые покрытия', 'профессиональная поломоечная машина'],
				['Химчистка мягкой<br> мебели', 'любая мягкая мебель', 'матрасы', 'ковры', 'сушка после чистки'],
				['Автомобили', 'химчистка салона<br> автомобиля', 'спец средства для<br> пластиковых, кожаных<br> поверхностей']
			],
			15: 'Или задайте вопрос сразу',
			16: 'Елена Романенко',
			17: 'менеджер',
			18: 'Задать вопрос',
			19: 'Нам доверяют',
			20: '60% клиентов обращаются к&nbsp;нам по&nbsp;рекомендации',
			21: [
				'Весь персонал прошёл обучение и сдал экзамены.  Они знают как выполнять даже самые сложные задачи, работа по регламенту.',
				'Немецкие сертифицированные средства. Безопасны для детей и животных. Современная специализированная техника.',
				'Уборка в удобное для Вас время. Учитываем Ваши пожелания.',
				'Мы не мешаем Вам в процессе уборки. Обо всё предупреждаем и спрашиваем, чтобы не навредить. Дополнительно приготовим еду к Вашему приходу.'
				],
			22: 'Работаем по договору с гарантией качества. Оплата после уборки.',
			23: 'Анастасия Савченко',
			24: 'руководитель отдела уборки',
			25: 'Профессиональная команда',
			26: [
				['Мария', 'заведующая<br> по клинингу'],
				['Людмила', 'клинер'],
				['Анастасия', 'клинер'],
				['Дмитрий', 'промышленный<br> альпинист'],
				['Влад', 'мастер химчистки<br> мягкой мебели']
			],
			27: 'Контроль качества',
			28: 'Мы знаем какими средствами какие поверхности мыть',
			29: 'Менеджер на связи 24/7',
			30: 'Все вопросы и пожелания достаточно сообщить менеджеру. Он грамотно скоординирует действия персонала.',
			31: [
				'Очищаем мебель от&nbsp;шерсти и запахов животных',
				'Не оставляем разводов на&nbsp;поверхностях. Средства не&nbsp;портят ткань, пластик, дерево.',
				'Соблюдаем Технику Безопасности. При&nbsp;мойке окон пользуемся страховкой.',
				'Грамотно подбираем средства к зарязнениям. Интересуемся природой происхождения пятна.'
				],
			32: ['Свой инвентарь.', 'Уборка&nbsp;в&nbsp;масках, перчатках и специальных костюмах.', 'Моющие средства безопасны для детей и&nbsp;аллергиков.'],
			33: ['Оставьте заявку прямо сейчас', 'и получите скидку 50%', 'на&nbsp;первую уборку!'],
			34: 'Бесплатный выезд специалиста',
			35: 'для замера, составления стоимости, выявления пожеланий',
			36: 'Заказать уборку',
			37: ['Выезд специалиста не обязателен.', 'Стоимость можно расчитать по&nbsp;телефону.'],
			38: 'Наши работы',
			39: ['Кресла', 'Диваны', 'Ковры', 'Кухни', 'Камины', 'Прочее'],
			40: 'Что входит в уборку',
			41: [
				{
					title: 'Квартиры и дома',
					points: [
						'Моем все: пол, стены, потолок, окна',
						'Не портим поверхности. Знаем какие средства удаляют какие пятна',
						'В конце работы ставим вещи на свои места',
						'Приготовим еду к Вашему приходу по необходимости'
					]
				},
				{
					title: 'После ремонта',
					points: [
						'Строительный мусор убираем специализированным оборудованием',
						'Обеспыливаем все поверхности',
						'Профессиональная поломоечная машина для любого напольного покрытия',
						'Фотографируем дефекты ремонта, составляем список. Сможете обратиться к строительной организации которая должна их исправить.',
					]
				},
				{
					title: 'Химчистка мягкой мебели',
					points: [
						'Подбираем средства так, чтобы загрязнения удалялись сразу',
						'Чистим мягкую мебель и сушим её',
						'Пользуемся профессиональными немецкимим средствами',
					]
				},
				{
					title: 'Офисы',
					points: [
						'Уборка любой площади',
						'Используем специализированную технику для очистки больших поверхностей',
						'Профессиональная поломоечная машина для любого напольного покрытия',
					]
				},
				{
					title: 'Рестораны',
					points: [
						'Уборка любой площади',
						'Используем специализированную технику для очистки больших поверхностей',
						'Профессиональная поломоечная машина для любого напольного покрытия',
					]
				},
				{
					title: 'Салоны автомобилей',
					points: [
						'Уборка в салоне автомобиля специализированной техникой',
						'Спец. химия для техстиля, кожи, дерева и пластика',
						'Удаляем запах сигарет и затхлости',
						'Ощущения нового автомобиля после уборки',
					]
				}
			],
			42: ['60 % клиентов обращаются к нам', 'по&nbsp;рекомендациям'],
			43: 'Смотреть&nbsp;видеоотзыв',
			44: 'Отвечаем на самые частые вопросы клиентов',
			45: [
				'Какие химические средства используете? Они безопасны?',
				'Какую технику используете? Техника качественная?', 
				'Люди обученые? Я могу быть спокойна за безопасность?', 
				'Что нужно подготовить к вашему приезду?', 
				'Можете приехать рано утром или поздно вечером?',
				],
			46: 'Все средства с сертификатом качества. Антиалергенные. Безвредные для человека и животных. Никаких резких запахов. В доме будет только прятный запах свежести',
			47: 'Сертификаты качества',
			48: 'Профессиональная уборка квартир, офисов,<br> помещений,  котеджей, салонов автомобилей',
			49: 'Ответим в течение 5 минут',
			50: [
				'Нажимая на кнопку, я соглашаюсь',
				'с политикой конфиденциальности'
			],
			51: 'Где убираем?',
			52: ['Квартира', 'Коттедж', 'Офис', 'Ресторан', 'Разовая', 'Генеральная', 'После ремонта', ''],
			53: 'Выберите тип уборки',
			54: 'Укажите номер телефона для связи',
			55: '3 часа',
			56: ['Напольные покрытия', 'Стулья', 'Диваны', 'Ковры', 'Кресло'],
			57: 'Выберите предметы мебели',
			58: ['Чистка подушек', 'в подарок!'],
			59: 'Мы уточним несколько вопросов и рассчитаем стоимость',
			60: 'Для замера, составления стоимости, выявление пожеланий',
			61: 'Далее',
			62: ['Вопрос:', 'из'],
			63: ['Квартиры коттеджи', 'Офисы и рестораны', 'Химчистка мягкой мебели', 'Автомобилии'],
			64: 'Укажите размер помещения и ваш номер телефона',
			65: 'Площадь',
			66: 'Готово!',
			67: 'Спасибо, что воспользовались услугами нашей компании',
			68: 'Мы перезвоним в течение 10&nbsp;минут',
		}