.s1 {
    &-img {
        &-man {
            position: absolute;
            width: 12.5625rem;
            pointer-events: none;
            top: 3.7875rem;
            left: 0px;
            z-index: 2;
        }
    }
    &__ibg {
        width: 100%;
        height: 18.9375rem;

        top: 2.4rem;
        @include center-item-x('absolute');
        z-index: -3;
    }
    &__container {
    }
    &__title {
        @extend %headings;
        text-align: center;
        font-weight: 600;
        font-size: 1.1875rem;
        line-height: 1.24em;
        margin-top: 0.7rem;
        margin-bottom: 1.1875rem;
        .text-primary {
            font-weight: 900;
            font-size: 1.4rem;
        }
    }
    &__benefit-price {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.25rem;
        line-height: 2.3125rem;

        border: 0.0625rem solid $primary;
        border-radius: 0.4375rem;

        font-weight: 600;
        font-size: 1rem;
        color: #737373;

        margin-bottom: 0.3125rem;
        margin-left: auto;
        margin-right: 0;
    }
    &__items {
        padding-top: 0.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 8.25rem;
        height: 15.1875rem;

        background: #FFFFFF;
        border: 0.0625rem solid $primary;
        box-shadow: 0px 0px 0.375rem rgba(0, 0, 0, 0.07);
        border-radius: 0.4375rem;

        position: relative;
        margin-left: auto;
        margin-right: 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 6.875rem;

        margin-bottom: 0.75rem;
        &-txt {
            font-weight: 300;
            font-size: 0.625rem;
            line-height: 1.2em;
            text-align: center;
            margin-top: 0.1875rem;
        }
        &-1 {
            img {
                width: 2.375rem;
            }
        }
        &-2 {
            img {
                width: 2rem;
            }
        }
        &-3 {
            img {
                width: 1.875rem;
            }
        }
    }
    &__block {
        margin-top: 2rem;
        &-title {
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 1.05em;
            text-align: center;
            color: $primary;
        }
        &-subtitle {
            font-family: Raleway;
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 1.45em;
            text-align: center;
        }
        &-btn {
            width: 100%;
            line-height: 3.125rem;
            font-size: 1rem;
            border-radius: 3.125rem;
            margin: 0.9375rem auto 1.125rem;
        }
    }
    &__play {
        position: absolute;
        top: 18.6rem;
        left: 0.7rem;
        z-index: 4;
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .s1 {
        &-img {
            &-man {
                width: 24.0625rem;
                top: unset;
                bottom: -4rem;
                left: -1.75rem;
            }
        }
        &__ibg {
            height: 53.875rem;
            top: unset;
            bottom: 0.9375rem;
        }
        &__container {}
        &__title {
            text-align: left;
            font-size: 2.8125rem;
            line-height: 1.4em;
            margin-top: 2.5rem;
            margin-bottom: 1.25rem;
            .text-primary {
                font-size: 3.425rem;
            }
        }
        &__benefit-price {
            width: 12.1875rem;
            line-height: 3.8125rem;
    
            background: #FFFFFF;
            border-radius: 0.6875rem;
    
            font-size: 1.125rem;
    
            margin-bottom: 0;
            margin-left: 0;
        }
        &__items {
            padding-top: 0;
            flex-direction: row;
            width: 29.2375rem;
            height: unset;
            justify-content: space-between;
    
            background: transparent;
            border: none;
            box-shadow: none;
            border-radius: unset;
    
            margin-left: auto;
            margin-right: 0;
            margin-top: -3.7rem;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: unset;
            margin-bottom: 0;
            &-txt {
                font-weight: normal;
                font-size: 0.875rem;
                line-height: 1.2em;
                margin-top: 0.6875rem;
            }
            &-1 {
                width: 10.0625rem;
                img {
                    width: 3.5625rem;
                }
            }
            &-2 {
                width: 9.375rem;
                img {
                    width: 2.9375rem;
                }
            }
            &-3 {
                img {
                    width: 3.375rem;
                }
            }
        }
        &__block {
            padding-top: 2.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 28.0625rem;
            height: 26.875rem;
            background: #FFFFFF;
            border: 0.125rem solid #57C757;
            box-shadow: 0px 0px 0.375rem rgba(0, 0, 0, 0.07);
            border-radius: 0.9375rem;
            margin: 2rem 0 0rem auto;
            &-title {
                width: 22.1875rem;
                font-weight: bold;
                font-size: 1.625rem;
                line-height: 1.15em;
                margin-bottom: 1rem;
            }
            &-subtitle {
                width: 18.1875rem;
                font-size: 1.125rem;
                line-height: 1.45em;
                margin-bottom: 1.9375rem;
            }
            &-btn {
                order: 3;
                width: 22.125rem;
                line-height: 5rem;
                font-size: 1.125rem;
                margin: 0 auto;
                text-transform: uppercase;
            }
        }
        &__play {
            top: 31.4rem;
            left: 0.6rem;
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .s1 {
        &-img {
            &-man {
                width: 46.1625rem;
                bottom: 5.125rem;
                left: -11px;
            }
        }
        &__ibg {
            height: 48.8125rem;
            bottom: 5.125rem;
        }
        &__container {}
        &__title {
            width: 921px;
            text-align: center;
            font-size: 3.4375rem;
            font-weight: 900;
            line-height: 1.1em;
            margin: 3rem auto 0;
            .text-primary {
                font-size: 3.4375rem;
            }
        }
        &__benefit-price {
            width: 236px;
            line-height: 67px;
    
            border-radius: 0.6875rem;
    
            font-size: 24px;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: 6.4rem;
        }
        &__items {
            width: 32.75rem;
            margin-left: auto;
            margin-right: 71px;
            margin-top: 15px;
        }
        &__item {
            &-txt {
                font-size: 1rem;
            }
            &-1 {
                width: 11.6875rem;
                img {
                    width: unset;
                }
            }
            &-2 {
                width: 10rem;
                img {
                    width: unset;
                }
            }
            &-3 {
                img {
                    width: unset;
                }
            }
        }
        &__block {
            padding-top: 11.3rem;
            width: 630px;
            height: 520px;
            border-radius: 0.9375rem;
            margin: -8.8rem 11px 0px auto;
            &-title {
                width: 32.8125rem;
                font-size: 2.125rem;
                margin-bottom: 1.25rem;
            }
            &-subtitle {
                width: 27.625rem;
                margin-bottom: 1.5rem;
            }
            &-btn {
                width: 26.25rem;
            }
        }
        &__play {
            top: 35.2rem;
            left: 6rem;
        }
    }
}

.s2 {
    padding-top: 3.35rem;
    padding-bottom: 2rem;

    &__container {
        display: flex;
        flex-direction: column;
    }
    &__items {
        padding: 1.125rem 1rem;
        height: 15.875rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        border-radius: 0.6875rem;
        background: #FFFFFF;
        box-shadow: 0px 0.625rem 0.9375rem rgba(163, 163, 163, 0.11);
        
        order: 2;
        margin-top: 2.8rem;
    }

    &__item {
        text-align: center;

        span {
            font-family: Roboto;
            font-weight: bold;
            font-size: 2rem;
            color: $primary;
            b {
                font-weight: bold;
                font-size: 1rem;
                color: #7B7B7B; 

            }
        }
        p {
            font-size: 0.9375rem;
            line-height: 1.1875rem;
            margin-top: -0.45rem;
        }
        &-2 {
            margin-right: 1rem;
            margin-bottom: 1.3rem;
        }
    }
    &__set {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        &-item {
            width: 9.125rem;
            height: 8.125rem;
            background: #FFFFFF;
            border-radius: 0.4375rem;
            overflow: hidden;
            position: relative;
            margin-bottom: 0.5625rem;
        }
        &-ibg {
            width: 100%;
            height: 100%;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 3rem;
                background: linear-gradient(0deg, #000000 43.45%, rgba(0, 0, 0, 0) 100%);
                opacity: 0.7;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &-title {
            font-family: Raleway;
            font-weight: bold;
            font-size: 0.875rem;
            line-height: 1.23em;
            color: #FFFFFF;
    
            position: absolute;
            z-index: 2;
            left: 0.6rem;
            bottom: 0.6rem;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .s2 {
        padding-top: 4.3rem;
    
        &__container { }
        &__items {
            padding: 1.25rem 1.125rem 0;
            height: 8rem;
            
            order: 1;
            margin-top: 0;
            margin-bottom: 5.4rem;
        }
    
        &__item {
            span {
                font-size: 2.1875rem;
                b {
                    font-size: 1.125rem;
    
                }
            }
            p {
                font-size: 1rem;
                line-height: 1.3125rem;
                margin-top: -0.45rem;
            }
            &-2 {
                margin: 0;
            }
        }
        &__set {
            order: 2;
            &-item {
                width: 20.625rem;
                height: 18.75rem;
                border-radius: 1rem;
                margin-bottom: 1.75rem;
                &-5, &-4, &-6 {
                    .s2__set-title {
                        bottom: 2.2rem;
                    }
                }
            }
            &-ibg {
                &::after {
                    height: 7.1875rem;
                }
            }
            &-title {
                font-size: 2rem;
                left: 1.2rem;
                bottom: 1.3rem;
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .s2 {
        padding-top: 3rem;
    
        &__container {}
        &__items {
            width: 75.9375rem;
            padding: 1rem 5.4375rem 0 6.375rem;
            height: 10rem;
            margin-bottom: 6.25rem;
            margin-left: auto;
            margin-right: auto;
        }
    
        &__item {
            span {
                font-size: 3.125rem;
                b {
                    font-size: 1.5rem;
    
                }
            }
            p {
                font-size: 1.375rem;
                line-height: 1.8125rem;
                margin-top: -0.7rem;
            }
        }
        &__set {
            padding-left: 1.4rem;
            padding-right: 1.4rem;
            &-item {
                width: 390px;
                height: 345px;
                border-radius: 15px;
                margin-bottom: 1.4375rem;
                &-5, &-4, &-6 {
                    .s2__set-title {
                    }
                }
            }
            &-ibg {
                &::after {
                    height: 8.125rem;
                }
            }
            &-title {
                padding-right: 2rem;
                font-size: 1.875rem;
                left: 2.6875rem;
                bottom: 1.9rem;
            }
        }
    }
}
.s3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    &__title {
        font-size: 1.5rem;
        text-align: center;
        color: $primary;
        margin-bottom: 0.9rem;
    }
    &__ibg {
        display: none;
    }
    &__promise {
        display: flex;
        align-items: center;
        padding-left: 2.25rem;
        height: 6.5rem;
        border: 0.0625rem solid #57C757;
        border-radius: 0.4375rem;
        margin-bottom: 4.1875rem;
        img {
            width: 5.75rem;
        }
        p {
            width: 8.9375rem;
            font-family: Raleway;
            font-size: 1rem;
            font-weight: 500;
            color: #737373;
            line-height: 1.23em;
            span {
                font-weight: bold;
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .s3 {
        padding-top: 0rem;
        padding-bottom: 10rem;
        &__title {
            width: 20.9375rem;
            font-size: 2.5rem;
            text-align: left;
            margin-bottom: 5.2rem;
            margin-left: 0.3rem;
        }
        &__ibg { }
        &__promise {
            padding-top: 0.8rem;
            flex-direction: column;
            padding-left: 0;
            width: 15.5rem;
            height: 14.375rem;
            border-radius: 0.625rem;
            margin-bottom: 0;
            position: absolute;
            top: -11px;
            right: 52px;
            img {
                width: 8.0625rem;
            }
            p {
                text-align: center;
                width: 12.5rem;
                font-family: Raleway;
                font-size: 1.375rem;
                margin-top: 0.9375rem;
                span {
                }
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .s3 {
        padding-top: 83px;
        padding-bottom: 4.75rem;
        &__title {
            width: 45.9375rem;
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 0.6875rem;
            margin-left: auto;
            margin-right: auto;
        }
        &__subtitle {
            font-family: Raleway;
            font-weight: 500;
            font-size: 26px;
            line-height: 34px;
            text-align: center;
            color: #2B3034;
            margin-bottom: 26px;
        }
        &__ibg { 
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
        }
        &__promise {
            padding-top: 3.75rem;
            width: 310px;
            height: 545px;

            background: #FFFFFF;
            box-shadow: 4.00505px 4.00505px 10.0126px #D9D9D9;
            border-radius: 0.9375rem;
            border: none;

            top: 166px;
            right: 14px;
            img {
                width: 11.125rem;
            }
            p {
                width: 100%;
                font-weight: 600;
                font-size: 38px;
                line-height: 1.04em;
                text-align: center;
                letter-spacing: 0.02em;
                color: $primary;
                margin-top: 18px;
            }
            span {
                width: 16.4375rem;
                display: block;
                font-weight: bold;
                font-size: 22px;
                line-height: 1.3em;
                text-align: center;
                margin-bottom: 44px;
            }
        }
    }
}
.s4 {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    &__title {
        font-weight: 800;
        margin-bottom: 1.5625rem;
    }
    &__slider {
        width: 100vw;
        max-width: 410px;
        @include center-item-x('relative');
        &-item {
            padding-right: 0rem;
        }
        &-image {
            width: 20.125rem;
            height: 17.125rem;
        }
        &-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 14.75rem;
            margin: 2.0125rem auto 0;
        }
        &-prev {
            background-image: url('/modules/images/icons/arrow-btn-left.svg');
        }
        &-next {
            background-image: url('/modules/images/icons/arrow-btn-right.svg');
        }
        &-prev, &-next {
            width: 1.4375rem;
            height: 1.4375rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            
        }
    }
}


@media (min-width: map-get($grid-breakpoints, md)) {
    .s4 {
        padding-top: 2.3rem;
        padding-bottom: 1.9rem;
        &__title {
            font-size: 1.8rem;
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }
        &__slider {
            max-width: unset;
            width: 100%;
            &-item {
                padding-right: 1rem;
            }
            &-image {
                width: 42.9375rem;
                height: 27.8125rem;
                border-radius: 0.625rem;
            }
            &-nav {
                width: 19.625rem;
                margin: 1.8125rem auto 0;
            }
            &-prev {}
            &-next {}
            &-prev, &-next {
                width: 1.875rem;
                height: 1.875rem;
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .s4 {
        padding-top: 4rem;
        padding-bottom: 3.8125rem;
        &__title {
            text-align: center;
            font-size: 2.1875rem;
            margin-bottom: 4rem;
        }
        &__slider {
            &-item {
                padding: 0 8.375rem;
            }
            &-image {
                width: 61.875rem;
                height: 34.9375rem;
            }
            &-nav {
                width: 75.3625rem;
                margin: 0;
                @include center-item();
                pointer-events: none;
            }
            &-prev {
                background-image: url('/modules/images/icons/angle-left.svg');
            }
            &-next {
                background-image: url('/modules/images/icons/angle-right.svg');
            }
            &-prev, &-next {
                pointer-events: initial;
                width: 2.3125rem;
                height: 1.9375rem;
            }
        }
    }
}


.s5 {
    padding-top: 3.8125rem;
    padding-bottom: 0.5rem;
    &__ibg {
        width: 100%;
        height: 33.4375rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -3;
    }
    &__title {
        font-size: 1.375rem;
        margin-bottom: 0.675rem;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.1em;
        text-align: center;
        color: $primary;
        margin-bottom: 1.375rem;
    }
    &__slideshow {
        width: 100%;
        height: 45.625rem;
        position: relative;
        &-items {
            height: 43.9125rem;
            width: 100%;
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-title {
            width: 100%;
            font-family: Raleway;
            font-weight: bold;
            font-size: 1.25rem;
            line-height: 1.4375rem;
            color: $primary;
            margin-bottom: 1.4rem;
        }
        &-image {
            width: 100%;
            height: 13.1875rem;
            border-radius: 0.625rem;
            margin-bottom: 2rem;
        }
        p {
            font-size: 1rem;
            line-height: 1.3em;
            margin-bottom: 1.5rem;
        }
        &-nav {
            display: flex;
            width: 100%;
            height: 1.75rem;
            background: #F2F2F2;
            box-shadow: 0.0625rem 0.125rem 0.15rem rgba(78, 78, 78, 0.3);
            border-radius: 0px 0px 0.3125rem 0.3125rem;
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;

            &item {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                height: 1.75rem;
                width: 20%;

                transition: $transition--very-fast;

                font-family: IBMPlexSans;
                font-size: 0.625rem;
                text-align: center;
                color: #737373;

                position: relative;
                &:not(:first-child) {
                    &::before {
                        content: '';
                        display: block;
                        width: 0.0625rem;
                        height: 100%;
                        background: #c1c1c1;
                        position: absolute;
                        left: 0;
                    }
                }
                &:last-child {}
                &.active {
                    pointer-events: none;
                    font-weight: bold;
                    color: white !important;
                    background: $primary;
                    box-shadow: 0.125rem 0.25rem 0.25rem rgba(85, 57, 128, 0.3), inset 0px 0.125rem 0.1875rem rgba(83, 19, 179, 0.3);
                }
                &:hover {
                    font-weight: bold;
                    color: $primary;
                }
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .s5 {
        padding-top: 3rem;
        padding-bottom: 5.9375rem;
        &__ibg {
            height: 100%;
        }
        &__title {
            font-size: 1.75rem;
            margin-bottom: 0.675rem;
        }
        &__subtitle {
            font-size: 1.625rem;
            color: #4E4E4E;
            margin-bottom: 2.1rem;
        }
        &__widget {
            width: 742px;
            height: 650px;
            @include center-item-x('relative');
            background: #FFFFFF;
            box-shadow: 3px 4px 10px rgba(115, 115, 115, 0.3);
            border-radius: 0.625rem;
            position: relative;
        }
        &__slideshow {
            width: 100%;
            height: 100%;
            position: relative;
            &-items {
                height: 100%;
                width: 100%;
                border-radius: 0.625rem;
            }
            &-item {
                align-items: flex-start;
                padding-top: 3rem;
                padding-left: 2.5625rem;
                background: white;
            }
            &-title {
                width: 500px;
                font-weight: 800;
                font-size: 1.875rem;
                line-height: 2.1875rem;
                text-align: left;
                margin-bottom: 1rem;
            }
            &-image {
                width: 18.75rem;
                height: 15.625rem;
                margin-bottom: 0;
                position: absolute;
                right: 4.4375rem;
                bottom: 135px;
            }
            
            p {
                width: 20.125rem;
                font-size: 1.125rem;
                line-height: 1.38em;
                margin-bottom: 1.5rem;
                &.first {
                    width: 100%;
                    margin-bottom: 0;
                    font-weight: 600;
                }
                &.second {
                    width: 100%;
                    width: 624px;
                    font-weight: 600;
                    margin-bottom: 3.5rem;
                }
            }
            &-nav {
                height: 5rem;
                box-shadow: 0.125rem 0.25rem 0.375rem rgba(78, 78, 78, 0.3);
                border-radius: 0px 0px 0.625rem 0.625rem;
                &item {
                    height: 5rem;
                    font-size: 0.875rem;
                    line-height: 1em;
                    &:not(:first-child) {
                        &::before {}
                    }
                    &:last-child {}
                    &.active {
                        box-shadow: 0.25rem 0.5rem 0.625rem rgba(85, 57, 128, 0.3), inset 0px 0.3125rem 0.4375rem rgba(83, 19, 179, 0.3);
                    }
                    &:hover {
                    }
                }
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .s5 {
        padding-top: 5.45rem;
        padding-bottom: 5.9375rem;

        &__ibg {
            height: 100%;
        }
        &__title {
            font-size: 40px;
            text-align: center;
            margin-bottom: 0.675rem;
        }
        &__subtitle {
            font-size: 1.625rem;
            color: #4E4E4E;
            margin-bottom: 2.1rem;
        }
        &__widget {
            width: 1260px;
            height: 630px;
        }
        &__slideshow {
            &-items {
                border-radius: 0.625rem;
            }
            &-item {
                padding-left: 5.125rem;
                padding-top: 4.125rem;
            }
            &-title {
                width: 31.25rem;
                font-size: 1.875rem;
                margin-bottom: 1.725rem;
            }
            &-subtitle {
                font-size: 2.1875rem;
                margin-bottom: 1.4375rem;
            }
            &-image {
                width: 550px;
                height: 390px;
                top: 4.625rem;
                right: 5.5rem;
                border-radius: 15px;
            }
            p {
                width: 28.75rem;
                font-size: 1.125rem;
                line-height: 1.38em;
                margin-bottom: 1.6rem;
                &.first {
                    width: 28.75rem;
                    margin-bottom: 1.65rem;
                    font-weight: normal;
                }
                &.second {
                    width: 28.75rem;
                    font-weight: normal;
                    margin-bottom: 1.6rem;
                }
            }
            &-nav {
                height: 5.6875rem;
                &item {
                    height: 5.6875rem;
                    font-size: 1.1875rem;
                    line-height: 25px;
                    &:not(:first-child) {
                        &::before {}
                    }
                    &:last-child {}
                    &.active {
                    }
                    &:hover {box-shadow: inset 0px 5px 15px rgba(193, 193, 193, 0.3);}
                }
            }
        }
    }
}


.s6 {
    padding-top: 5.2rem;
    padding-bottom: 4.625rem;
    &__img {
        &-man {
            position: absolute;
            width: 21.5375rem;
            z-index: -2;
            top: 1.1rem;
            left: -0.8rem;
        }
    }
    &__title {
        color: $primary;
        font-size: 1.375rem;
        font-weight: 800;
        margin-bottom: 17.1875rem;
    }
    &__bl {
        padding-top: 1.2rem;
        width: 100%;
        height: 5rem;

        background: #FFFFFF;
        box-shadow: 2.26893px 4.53785px 6.80677px rgba(43, 48, 52, 0.3);
        border-radius: 0.625rem;

        font-family: Raleway;
        text-align: center;
        line-height: 1.3em;
        font-size: 1rem;

        margin-bottom: 2.2rem;
        &-name {
            font-weight: bold;
            font-size: 1.375rem;
            margin-bottom: 0.5rem;
        }
        &-descr {
            font-size: 0.875rem;
            color: #838383;
        }
    }
    &__bf {
        padding: 0.75rem 2.25rem 0 2.3125rem;
        width: 100%;
        height: 4.0625rem;

        background: $primary;
        box-shadow: -1.29237px 6.46183px 9.04656px rgba(43, 48, 52, 0.1);
        border-radius: 0.5rem;

        font-family: Raleway;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.275em;
        text-align: center;
        color: #FFFFFF;

        margin-bottom: 1.5rem;
    }
    &__txt {
        width: 17.85rem;
        margin-left: 0.875rem;
        position: relative;
        p {
            font-size: 1.1rem;
            line-height: 1.35em;
            margin-bottom: 1.45rem;
        }
        b {
            font-weight: 600;
        }
        &::before {
            content: '';
            display: block;
            width: 0.625rem;
            height: 13.75rem;
            background: $primary;
            border-radius: 0.625rem;
            @include center-item-y();
            left: -1.75rem;
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .s6 {
        padding-top: 41px;
        padding-bottom: 36px;
        &__img {
            &-man {
                width: 20rem;
                top: 4.4rem;
                left: 0.6rem;
                transform: scaleX(-1);
            }
        }
        &__title {
            font-size: 40px;
            margin-bottom: 32px;
        }
        &__bl {
            padding-top: 18px;
            width: 256px;
            height: 75px;
    
            box-shadow: 2.00253px 2.00253px 2.00253px rgba(43, 48, 52, 0.3);
            border-radius: 3.00379px;
    
            margin-bottom: 0;
            position: absolute;
            top: 341px;
            left: 32px;
            &-name {
                font-size: 24px;
                margin-bottom: 0.2rem;
            }
            &-descr {
                font-size: 1rem;
            }
        }
        &__bf {
            padding: 22px 20px 0 22px;
            width: 320px;
            height: 100px;
    
            box-shadow: -2.00253px 10.0126px 14.0177px rgba(43, 48, 52, 0.1);
            border-radius: 0.625rem;
    
            font-size: 20px;
            margin-bottom: 0;
            position: absolute;
            top: 428px;
            left: 0;
        }
        &__txt {
            width: 22.3125rem;
            margin-left: 309px;
            p {
                font-size: 22px;
                margin-bottom: 1.85rem;
            }
            b {}
            &::before {
                content: none;
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .s6 {
        padding-top: 55px;
        padding-bottom: 7.175rem;
        &__img {
            &-man {
                width: 32.5rem;
                top: -5.7rem;
                left: unset;
                right: 61px;
                transform: scaleX(1);
            }
        }
        &__title {
            width: 705px;
            font-size: 40px;
            text-align: left;
            margin-bottom: 76px;
            margin-left: 4.275rem;
        }
        &__bl {
            padding-top: 1.375rem;
            width: 17.0625rem;
            height: 5.625rem;
    
            box-shadow: 2.00253px 2.00253px 2.00253px rgba(43, 48, 52, 0.3);
            border-radius: 3.00379px;
    
            margin-bottom: 0;
            position: absolute;
            top: 273px;
            left: unset;
            right: 173px;
            &-name {
                font-size: 1.375rem;
                margin-bottom: 0.3125rem;
            }
            &-descr {
                font-size: 1rem;
            }
        }
        &__bf {
            padding: 19px 27px 0 51px;
            width: 455px;
            height: 100px;
    
            box-shadow: -2.00253px 10.0126px 14.0177px rgba(43, 48, 52, 0.1);
            border-radius: 0.625rem;
    
            font-size: 22px;
            margin-bottom: 0;
            position: absolute;
            top: 392px;
            left: unset;
            right: 90px;
        }
        &__txt {
            padding-left: 3.5rem;
            width: 622px;
            margin-left: 67px;
            p {
                font-size: 24px;
            }
            b {}
            &::before {
                content: '';
                width: 8.95px;
                height: 259.33px;
                left: 0;
            }
        }
    }
}
.s7 {
    padding: 0;
    &__container {
        padding-top: 2.625rem;
        padding-bottom: 2.6rem;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(108.9deg, rgba(233, 229, 224, 0.9) 4.54%, rgba(239, 239, 239, 0.9) 34.55%, rgba(244, 244, 242, 0.9) 72.79%), linear-gradient(188.79deg, #F2F2F2 3.69%, #F2F1EF 10.7%, rgba(242, 242, 242, 0) 32.39%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -20;
        }
        
    }
    &__ibg {
        width: 100vw;
        height: 100%;
        @include center-item();
        z-index: -3;
    }
    &__title {
        font-size: 1.5rem;
        text-align: left;
        line-height: 1.3em;
        margin-bottom: 8.35rem;
        margin-left: 0.6rem;
    }
    &__p {
        font-family: Raleway;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.345em;
        margin-bottom: 0.45rem;
        margin-left: 0.6rem;
    }
    &__form {
        margin-top: 1.1rem;
    }
    &__input {
        text-align: center;
        font-size: 1rem;
        width: 100%;
        height: 3.75rem;
        margin-bottom: 0.8125rem;
    }
    &__submit {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-btn {
            width: 100%;
            height: 3.75rem;
            border-radius: 3.125rem;
            font-size: 1.125rem;
            margin-bottom: 0.8rem;
        }
        &-agr {
            width: 15.625rem;
            font-size: 0.9375rem;
            line-height: 1.11em;
            color: #838383;
            
        }
    }

}
@media (min-width: map-get($grid-breakpoints, md)) {
    .s7 {
        &__container {
            padding-top: 2.125rem;
            padding-bottom: 2.15rem;
            padding-left: 22.8625rem;
        }
        &__ibg {}
        &__title {
            font-size: 24px;
            margin-bottom: 10px;
            margin-left: 0;
        }
        &__p {
            font-size: 18px;
            margin-bottom: 0.25rem;
            margin-left: 0;
        }
        &__form {
            margin-top: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 310px;
        }
        &__input {
            width: 19.375rem;
            font-size: 18px;
            margin-bottom: 14px;
        }
        &__submit {
            &-btn {
                width: 19.375rem;
                font-size: 18px;
                margin-bottom:  9px;
            }
            &-agr {
            }
        }
    
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .s7 {
        &__container {
            padding-top: 64px;
            padding-bottom: 0;
            padding-left: 590px;
            width: 1262px;
            height: 415px;
            box-shadow: 4.00505px 8.01011px 10.0126px rgba(43, 48, 52, 0.3);
            border-radius: 15px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            &::before {
                background: linear-gradient(331.42deg, #F3F3F3 15.61%, #F5F6EE 41%, #FFEC78 42.68%, #FFEC78 51.24%), #FFEC78;
            }
        }
        &__ibg {
            width: 100%;
        }
        &__title {
            width: 600px;
            font-size: 32px;
            margin-bottom: 16px;
        }
        &__p {
            font-size: 20px;
            margin-bottom: 0.25rem;
        }
        &__form {
            margin-top: 30px;
            flex-direction: row;
            align-items: flex-start;
            width: 310px;
        }
        &__input {
            width: 325px;
            margin-bottom: 0;
        }
        &__submit {
            margin-left: 10px;
            &-btn {
                width: 260px;
                margin-bottom:  9px;
            }
            &-agr {
            }
        }
    
    }
}
.s8 {
    padding-top: 5.7rem;
    padding-bottom: 2.5rem;
    &__man {
        width: 19.175rem;
        position: absolute;
        left: 0;
        top: 5.8125rem;
        z-index: -3;
    }
    &__title {
        font-size: 2.1875rem;
        margin-bottom: 0.5rem;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.3em;
        text-align: center;
        letter-spacing: -0.005em;
        margin-bottom: 16.7rem;
    }
    &__bl {
        padding-top: 0.8rem;
        width: 18.75rem;
        height: 5rem;
        background: #FFFFFF;
        box-shadow: 2.26893px 4.53785px 6.80677px rgba(43, 48, 52, 0.3);
        border-radius: 0.625rem;
        text-align: center;
        font-family: Raleway;
        margin-bottom: 4.4rem;
        &-name {
            font-weight: bold;
            font-size: 1.375rem;
        }
        &-descr {
            font-size: 0.875rem;
            color: #838383;
        }
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.3rem;
        p {
            font-size: 1.125rem;
            line-height: 1.4rem;
            text-align: center;
            margin-top: 0.75rem;
        }
        img {
            width: 6.375rem;
            margin-bottom: 0.8rem;
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .s8 {
        padding-top: 8.5rem;
        padding-bottom: 0;
        &__ctn {
            padding-top: 2rem;
            width: 722px;
            height: 692px;
            background: #FFFFFF;
            box-shadow: 3px 6px 10px rgba(115, 115, 115, 0.3);
            border-radius: 0.625rem;
            margin-bottom: -65px;
            @include center-item-x('relative');
        }
        &__man {
            width: 22.8625rem;
            left: 396px;
            top: 0.5rem;
            z-index: 0;
            transform: scaleX(-1);
        }
        &__title {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }
        &__subtitle {
            font-size: 24px;
            margin-bottom: 1.1625rem;
        }
        &__bl {
            z-index: 2;
            padding-top: 1.1rem;
            width: 240px;
            height: 100px;
            box-shadow: 2.26509px 4.53018px 6.79526px rgba(43, 48, 52, 0.3);
            border-radius: 15px;
            margin-bottom: 0;
            position: absolute;
            right: 30px;
            bottom: 200px;
            &-name {
                font-size: 27px;
                margin-bottom: 0.1875rem;
            }
            &-descr {
                line-height: 1.2em;
                font-size: 18px;
            }
        }
        &__items {
            z-index: 3;
            margin-left: 1.4375rem;
            align-items: flex-start;
        }
        &__item {
            flex-direction: row;
            margin-bottom: 1.5rem;
            p {
                width: 19.8125rem;
                text-align: left;
                margin-top: 0;
                margin-left: 1.4rem;
            }
            img {
                width: 4.1875rem;
                margin-bottom: 0;
            }
            &-5 {
                p {
                    width: 559px;
                }
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .s8 {
        padding-top: 9.5rem;
        padding-bottom: 125px;
        &__ctn {
            padding-top: 3rem;
            padding-left: 30rem;
            width: 1260px;
            height: 570px;
            box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
            margin-bottom: 0;
        }
        &__man {
            width: 32.1625rem;
            left: -54px;
            top: -7.7rem;
            transform: scaleX(1);
        }
        &__title {
            font-weight: 800;
            margin-bottom: 0;
            margin-left: 480px;
        }
        &__subtitle {
            text-align: left;
            font-size: 24px;
            margin-bottom: 1.375rem;
            margin-left: 480px;
        }
        &__bl {
            padding-top: 1.0625rem;
            width: 20.625rem;
            height: 6.0625rem;
            left: 3.6625rem;
            bottom: 5.225rem;
            &-name {
                font-size: 1.375rem;
            }
            &-descr {
                font-size: 1.125rem;
            }
        }
        &__items {
            margin-left: 0;
        }
        &__item {
            margin-bottom: 2rem;
            p {
                font-size: 18px;
                line-height: 23px;
                margin-left: 1.75rem;
                width: 39rem;
            }
            img {}
            &-1 {
                margin-bottom: 1.1rem;
            }
            &-5 {
                p {
                    width: 42rem;
                }
            }
        }
    }
}
.s9 {
    padding-top: 3.2rem;
    padding-bottom: 3.5rem;
    @include bg($primary);
    h2 {
        color: white;
        margin-bottom: 1.275rem;
    }
    &__ibg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
    }
    &__team {
        &-wrap {

            .uk-slider-container {overflow: visible}
        }
        &-items {
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 18.75rem;
        }
        &-img {
            width: 9.5rem;
            height: 9.5rem;

            border-radius: 50%;
            overflow: hidden;
            img {
                width: 101%;
                height: 101%;
            }
        }
        &-descr {
            font-family: Raleway;
            text-align: center;
            margin-top: 0.6rem;
            margin-bottom: 0.7rem;
        }
        &-name {
            font-weight: bold;
            font-size: 1.125rem;
            color: #FFFFFF;

            margin-bottom: 0.2rem;
        }
        &-pos {
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.2em;
            color: #FFFFFF;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .s9 {
        padding-top: 7.6rem;
        padding-bottom: 5.25rem;
        h2 {
            margin-bottom: 2.8rem;
        }
        &__ibg {}
        &__team {
            &-wrap {
                width: 45rem;
                @include center-item-x('relative');
            }
            &-items {

            }
            &-item {
                width: 33.333333%;
            }
            &-img {
                width: 11rem;
                height: 11rem;
                img {}
            }
            &-descr {
                margin-top: 1.6125rem;
                margin-bottom: 2.43rem;
            }
            &-name {
                font-size: 22px;
                margin-bottom: 0.1rem;
            }
            &-pos {
                font-size: 20px;
            }
        }
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .s9 {
        padding-top: 4.1625rem;
        padding-bottom: 8.86rem;
        h2 {
            text-align: center;
            margin-bottom: 4.6rem;
        }
        &__ibg {
        }
        &__team {
            &-wrap {
                width: 69rem;
                margin-left: auto;
                margin-right: auto;
                @include center-item-undo();
            }
            &-circle {
                position: absolute;
                &::before {
                    content: '';
                    width: 17.1875rem;
                    height: 17.1875rem;
                    display: block;
                    
                    border-radius: 50%;
                    background: linear-gradient(282.6deg, #FFFFFF 33.69%, rgba(255, 255, 255, 0) 92.25%);
                    transform: translate(-50%, -50%) rotate(-180deg);
                    mix-blend-mode: soft-light;
                    position: absolute;
                    z-index: -1;
                }
                // &::after {
                //     content: '';
                //     width: 19.25rem;
                //     height: 19.25rem;
                //     display: block;
                    
                //     border-radius: 50%;
                //     background: linear-gradient(282.6deg, #FFFFFF 33.69%, rgba(255, 255, 255, 0) 92.25%);
                //     transform: translate(-50%, -50%) rotate(-180deg);
                //     mix-blend-mode: soft-light;
                //     position: absolute;
                //     z-index: -2;
                // }
                &-1 {
                    top: 7.625rem;
                    left: 7.6875rem;
                }
                &-2 {
                    top: 7.625rem;
                    left: 34.5rem;
                }
                &-3 {
                    top: 7.625rem;
                    left: 61.3125rem;
                }
                &-4 {
                    top: 25.25rem;
                    left: 20.375rem;
                }
                &-5 {
                    top: 25.25rem;
                    left: 48.5rem;
                }
            }
            &-items {
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
            &-item {
                width: unset;
                position: relative;
                margin-bottom: 2.25rem;
                &-1, &-2 {
                    margin-right: 11.5rem;
                }
            }
            &-img {
                width: 15.25rem;
                height: 15.25rem;
                img {}
            }
            &-descr {
                margin-top: 0rem;
                margin-bottom: 0rem;
                @include center-item-x();
                top: 270px;
            }
            &-name {
                font-size: 28px;
                margin-bottom: 0.2rem;
            }
            &-pos {
                font-size: 25px;
                width: 10rem;
            }
        }
    }
}
.s10 {
    padding-top: 4.0625rem;
    padding-bottom: 6rem;
    h2 {
        width: 16.875rem;
        margin: 0 auto 1.9375rem;
    }
    &__acc {
        $self: &;
        font-family: IBMPlexSans;
        &-item {
            margin-top: 0 !important;
            &--first {
                #{$self + -title} {
                    border-radius: 0.625rem 0.625rem 0 0;
                }
            }
            &--last {
                #{$self + -title} {
                    border-radius: 0 0 0.625rem 0.625rem;
                }
                #{$self + -content} {
                    border-radius: 0 0 0.625rem 0.625rem;
                }
                &.uk-open {
                    #{$self + -title} {
                        border-radius: 0;
                    }
                }
            }
            &.uk-open {
                #{$self + -title} {
                    background: $primary;
                    color: white;
                    border: 0.0625rem solid $primary;
                }
                #{$self + -content} {
                    border: 0.0625rem solid #CFCFCF;
                }
            }
        }
        &-title {
            padding: 0.875rem 1.25rem 0.9375rem 1.0625rem;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.3125rem;
            border: 0.0625rem solid #CFCFCF;
            background: white;
            transition: $transition--fast;
        }
        &-content {
            background: white;
            margin-top: 0;
            padding: 1.0625rem 1.125rem 1.9375rem 1.125rem;
            p {
                font-size: 0.875rem;
                line-height: 1.125rem;
                margin-bottom: 0.6875rem;
            }
            h5 {
                font-weight: 500;
                font-size: 1rem;
                color: #2B3034;
                margin-bottom: 0.4375rem;
            }
            &__certificates {
                display: flex;
                flex-wrap: wrap;
            }
            &__img {
                border-radius: 0.4375rem;
                box-shadow: 0.1rem 0.1875rem 0.25rem rgba(43, 48, 52, 0.3);

                margin-right: 0.6875rem;
                margin-bottom: 1.4375rem;
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .s10 {
        padding-top: 3.875rem;
        padding-bottom: 9.875rem;
        h2 {
            width: 100%;
            margin: 0 auto 2.75rem;
        }
        &__acc {
            $self: &;
            &-item {
                &--first {
                    #{$self + -title} {
                        border-radius: 0.375rem 0.375rem 0 0;
                    }
                }
                &--last {
                    #{$self + -title} {
                        border-radius: 0 0 0.375rem 0.375rem;
                    }
                    #{$self + -content} {
                        border-radius: 0 0 0.375rem 0.375rem;
                    }
                    &.uk-open {
                        #{$self + -title} {
                            border-radius: 0;
                        }
                    }
                }
                &.uk-open {
                    #{$self + -title} {
                        svg {
                            transform: rotate(180deg);
                            path {
                                stroke: white;
                            }
                        }
                    }
                    #{$self + -content} {
                    }
                }
            }
            &-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.1875rem 1.375rem 1.1875rem 1.1875rem;
                font-size: 1.1875rem;
                line-height: 1em;
                svg {
                    width: 1.2rem;
                    transition: $transition--fast;
                    path {
                        transition: $transition--fast;
                    }
                }
            }
            &-content {
                padding: 1.1875rem 1.5rem 1.8125rem 1.3125rem;
                p {
                    font-size: 1.125rem;
                    line-height: 1.4375rem;
                    margin-bottom: 1.4375rem;
                }
                h5 {
                    font-size: 1.125rem;
                    margin-bottom: 0.4375rem;
                }
                &__certificates {
                    align-items: flex-end;
                }
                &__img {
    
                    margin-right: 0.4375rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .s10 {
        min-height: 67.9375rem;
        padding-top: 6.0625rem;
        padding-bottom: 0;
        h2 {
            width: 100%;
            margin: 0 auto 1.875rem 1.375rem;
        }
        &__acc {
            z-index: 4;
            width: 49.75rem;
            margin-left: 1.375rem;
            $self: &;
            &-item {
                &--first {
                    #{$self + -title} {
                        border-radius: 0.625rem 0.625rem 0 0;
                    }
                }
                &--last {
                    #{$self + -title} {
                        border-radius: 0 0 0.625rem 0.625rem;
                    }
                    #{$self + -content} {
                        border-radius: 0 0 0.625rem 0.625rem;
                    }
                    &.uk-open {
                        #{$self + -title} {}
                    }
                }
                &.uk-open {
                    #{$self + -title} {
                        font-weight: bold;
                        svg {
                            path {}
                        }
                    }
                    #{$self + -content} {
                    }
                }
            }
            &-title {
                padding: 1.6875rem 1.3125rem 1.625rem 1.875rem;
                font-size: 1.25rem;
                line-height: 1.625rem;
                svg {
                    width: unset;
                }
                &:hover {
                    color: $primary;
                    svg {
                        path {
                            stroke: $primary;
                        }
                    }
                }
            }
            &-content {
                padding: 1.375rem 7.25rem 2.625rem 1.9375rem;
                p {
                    font-size: 1rem;
                    line-height: 1.3125rem;
                    margin-bottom: 0.8125rem;
                }
                h5 {
                    font-size: 1.1875rem;
                    margin-bottom: 0.9375rem;
                }
                &__certificates {
                }
                &__img {
                    margin-right: 0.75rem;
                }
            }
        }
        &__manager {
            width: 400px;
            z-index: 2;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            position: absolute;
            right: 15px;
            top: -70px;
            img {
                width: 564px;
                pointer-events: none;
            }
            &-name {
                font-family: Raleway;
                font-weight: bold;
                font-size: 1.25rem;
                text-align: center;
                color: #2B3034;
                margin-top: 0px;
                margin-bottom: -2px;
            }
            &-pos {
                font-family: Raleway;
                font-size: 1rem;
                text-align: center;
                color: #9D9D9D;
                margin-bottom: 10px;
            }
            &-btn {
                width: 269px;
                line-height: 60px;
                font-size: 1rem;
            }
        }
    }
}

.s11 {
    &__ibg {
        display: none;
    }
    &__map {
        z-index: 3;
        overflow: hidden; 
        @include center-item-x('relative');
        width: 100vw;
        height: 40.3125rem;
        &-downloading {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include center-item();
            &::after {
                @if $lang == 'ru' {
                    content: 'Загрузка карты...';
                }
                @if $lang == 'ukr' {
                    content: 'Завантаження карти...';
                }
            }
            z-index: -3;
        }
        &-script {
            position: relative;
            z-index: 5;
            width: 100%;
            height: 100%;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .s11 {
        &__ibg {
            display: block;
            width: 100%;
            height: 100%;
            z-index: -10;
            position: absolute;
            top: 0;
            left: 0
        }
        &__map {
            width: 42.125rem;
            height: 26.3125rem;
            box-shadow: 0.0625rem 0.125rem 0.1875rem rgba(7, 27, 51, 0.5);
            border-radius: 0.3125rem;
            // margin-bottom: -2rem;
            &-downloading {}
            &-script {
                iframe {}
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .s11 {
        margin-top: -3.3125rem;
        padding-top: 0;
        &__ibg {}
        &__map {
            width: 75.875rem;
            height: 40.375rem;
            box-shadow: 0.125rem 0.25rem 0.375rem rgba(7, 27, 51, 0.5);
            border-radius: 0.625rem;
            // margin-bottom: -4.9375rem;
            &-downloading {}
            &-script {
                iframe {}
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {}
@media (min-width: map-get($grid-breakpoints, lg)) {}