.footer {
    position: relative;
    padding-top: 2.6875rem;
    padding-bottom: 3.125rem;
    //быт
    .link {
        color: white !important;
    }
    &__ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
    }
    &__img {
        &-logo {
            width: 16.875rem;
        }
    }
    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;
    }
    &__logo {
        &-title {
            display: none;
        }
    }
    &__descr {
        font-size: .875rem;
        text-align: center;
        margin-top: 3.8125rem;
        margin-bottom: 1.4875rem;
        line-height: 1.3em;
    }
    &__icons {
        display: flex;
        justify-content: center;
        margin-bottom: 1.8rem;
    }
    &__icon {
        padding: 0 0.25rem;
        svg {
            width: 2.5rem;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__tel {
        font-weight: bold;
        font-size: 1.5625rem;
        line-height: 1em;
        text-align: center;
        color: #FFFFFF;
    }
    &__email {
        font-size: 1rem;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 0.5rem;
    }
    &__policy {
        font-size: 0.625rem;
        line-height: 1.5em;
        text-align: center;
        text-decoration: underline;
        color: #FFFFFF;
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .footer {
        padding-top: 3.0625rem;
        padding-bottom: 2.65rem;
        &__ibg {
            width: 100%;
            height: 48.5625rem;
            bottom: 0;
            left: 0;
            z-index: -3;
        }
        &__img {
            &-logo {
                width: 12.5rem;
            }
        }
        &__row {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-left: 0.575rem;
        }
        &__logo {
            order: 2;
            margin-right: 75px;
            &-title {
                display: block;
                text-align: center;
                font-family: Montserrat;
                font-size: 0.75rem;
                letter-spacing: 0.07em;
                margin-top: 8px;
            }
        }
        &__descr {
            order: 1;
            font-size: 0.75rem;
            text-align: left;
            margin-bottom: 0;
            margin-top: 0;
        }
        &__icons {
            order: 3;
            margin-bottom: 0;
        }
        &__icon {
            padding: 0 0.3125rem;
            svg {
                width: 2.0625rem;
            }
        }
        &__links {
            order: 5;
            align-items: flex-end;
        }
        &__tel {
            font-size: 1.1875rem;
            line-height: 1em;
            text-align: right;
        }
        &__email {
            font-size: 0.6875rem;
            text-align: right;
            margin-bottom: 0;
        }
        &__policy {
            order: 4;
            font-size: 10px;
            text-align: left;
            margin-top: 13px;
            margin-right: 100px;
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .footer {
        padding-top: 3.5625rem;
        padding-bottom: 1.925rem;
        &__ibg {
            height: 1155px;
        }
        &__img {
            &-logo {
                width: 22.1875rem;
            }
        }
        &__row {
            padding-left: 0.9rem;
            padding-right: 1.2rem;
        }
        &__logo {
            margin-bottom: 0;
            margin-right: 4rem;
            &-title {
                font-size: 1rem;
                margin-top: 22px;
            }
        }
        &__descr {
            font-size: 0.875rem;
            line-height: 1.6em;
            margin-top: 0.5rem;
        }
        &__icons {
            justify-content: flex-end;
            margin-bottom: 2rem;
        }
        &__icon {
            svg {
                width: 3.5rem;
            }
        }
        &__links {
        }
        &__tel {
            font-size: 1.875rem;
        }
        &__email {
            font-size: 1.125rem;
        }
        &__policy {
            width: 31.25rem;
            font-size: 16px;
            margin-top: 2rem;
        }
    }
}