#quiz {
    .popup {
        &__body {
            padding: 2.125rem 1.2rem;
            @media (min-width: map-get($grid-breakpoints, md)) {}
            @media (min-width: map-get($grid-breakpoints, lg)) {
                width: 78.5625rem;
                height: 44.5625rem;
                padding: 7.4375rem 0 0 8.75rem;
            }
        }
    }
}
.quiz {
    &__ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: none;
    }
    &__img {
        &-dim {
            width: 19.25rem;
            position: absolute;
            left: -2rem;
            top: 14.75rem;
        }
        &-tel {
            width: 16.9375rem;
        }
        
        @media (min-width: map-get($grid-breakpoints, md)) {
            
            &-dim {
                left: 5rem;
            }
            &-tel {
                position: relative;
                left: 6rem;
            }
        }
    }
    &__main {
        position: relative;
        // width: 16.9375rem;
        // margin: 0 auto;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 0.875rem;
        margin-top: -0.4rem;
        margin-bottom: 0.5625rem;
        color: $primary;
    }
    &__nav {
        margin-top: 0.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__progress {
        margin-bottom: 0;
        &-title {
            font-family: Montserrat;
            font-weight: 300;
            font-size: 0.75rem;
            color: #A3A3A3;
            margin-bottom: 0.25rem;
        }
        &-nav {
            &.disabled {
                pointer-events: none;
                opacity: $disabled-opacity;
            }
            li {
                padding: 0 0.18rem;
            }
        }
    }
    &__btns {
        display: flex;
        justify-content: flex-end;
        button {
            width: 12.625rem;
            line-height: 3.3125rem;
            font-size: 1.125rem;
            &:active {
            }
            @media (min-width: map-get($grid-breakpoints, lg)) {
                &:hover {
                }
            }
        }
    }
    &-btn {
        &-prev {
            svg {
                width: 0.45rem;
                margin-right: 0.7rem;
                margin-left: -0.5rem;
            }
        }
        &-next {
            svg {
                width: 0.45rem;
                margin-left: 0.7rem;
                margin-right: -0.5rem;
            } 
        }
    }
    &-slide {
        &-wrap {
            width: 100%;
            min-height: 24.5625rem;
            transition: $transition--fast;
            position: relative;
        }
        width: 100%;
        height: 100%;
        transition: $transition--slow;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        &-final {}
        &.quiz-active {
            opacity: 1;
            visibility: visible;
            pointer-events: initial;
        }
        h3 {
            line-height: 1.17em;
            font-family: Raleway;
            font-weight: 600;
            font-size: 1.25rem;
            // text-align: center;
            margin-bottom: 0.6rem;
        }
    }
    &__radio {
        $self: &;
        width: 100%;
        height: 3.375rem;
        padding-left: 0.9rem;
        display: flex;
        align-items: center;

        background: rgba(255, 255, 255, 0.5);
        border-width: 1px;
        border-style: solid;
        border-color: #D8D8D8;
        border-radius: 0.5rem;
        box-shadow: 2px 2px 4px rgba($primary, 0);

        margin-bottom: 0.7375rem;
        &-toggler {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.3125rem;
            height: 1.3125rem;
            background: #C4C4C4;
            border-width: 0.0625rem;
            border-style: solid;
            border-color: transparent;
            border-radius: 50%;
            box-shadow: 0px 1px 3px 1px rgba($primary, 0);
            margin-right: 0.875rem;
            &--inner {
                width: 0.8125rem;
                height: 0.8125rem;
                border-radius: 50%;
                background: transparent;
                box-shadow: 0px 1px 3px 1px rgba($primary, 0);
                transition: $transition--fast;   
            }
        }
        &-value {
            font-size: 1rem;
            span {
                color: #A3A3A3;
            }
        }
        &--sm {
            #{$self + -value} {
                font-size: 0.875rem;
            }
        }
        &.quiz-active {
            background: #FAFAFA;
            border-color: $primary;
            box-shadow: 2px 2px 4px rgba($primary, 0.3);
            #{$self + -toggler} {
                border-color: $primary;
                background: transparent;
                box-shadow: 0px 1px 3px 1px rgba($primary, 0.3);
            }
            #{$self + -toggler--inner} {
                background: $primary;
                box-shadow: 0px 1px 3px 1px rgba($primary, 0.3);
            }
        }
    }
    &__input {
        &-wrap {
            position: relative;
            .quiz__radio-toggler {
                @include center-item-y();
                left: 0.9rem;
            }
            &.quiz-active {
                .quiz__input {
                    background: #FAFAFA;
                    border-color: $primary;
                    box-shadow: 2px 2px 4px rgba($primary, 0.3);
                }
                .quiz__radio-toggler {
                    border-color: $primary;
                    background: transparent;
                    box-shadow: 0px 1px 3px 1px rgba($primary, 0.3);
                }
                .quiz__radio-toggler--inner {
                    background: $primary;
                    box-shadow: 0px 1px 3px 1px rgba($primary, 0.3);
                }
            }
        }
        width: 100%;
        height: 3.375rem;
        padding-left: 3.14rem;
        font-size: 0.9375rem;
    }
    &__final {
        &-title {
            font-family: Raleway;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.75rem;
            text-align: center;
            margin-top: 5rem;
            margin-bottom: 0.5rem;
        }
        &-subtitle {
            width: 15.625rem;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.05em;
            text-align: center;
            margin: 0 auto 1.1875rem;
        }
        &-input {
            width: 100%;
            height: 3.375rem;
            text-align: center;
            font-size: 1.125rem;
            margin-bottom: 19px;
        }
        &-submit {
            line-height: 3.3125rem;
            font-size: 1.125rem;
            width: 100%;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .quiz {
        &__img {
            
            &-dim {
                width: 27.375rem;
                left: 0;
                top: 5.5rem;
            }
            &-tel {
                width: 24rem;
                position: absolute;
                left: -2.1rem;
                top: 3.25rem;
            }
        }
        
        &__main {}
        &__subtitle {
            margin-bottom: 1.5rem;
            width: 25rem;
        }
        &__progress {
            margin-bottom: 1rem;
            &-title {
                font-size: 0.875rem;
                margin-bottom: 0.5rem;
                margin-left: 0.4rem;
                text-align: left;
            }
            &-nav {
                &.disabled {}
            }
        }
        &__btns {
            width: 34.375rem;
            display: flex;
            justify-content: space-between;
            margin-left: 3.75rem;
            button {
                width: 16.4375rem;
                line-height: 4rem;
                font-size: 1.125rem;
                border-radius: 3.125rem;
                &:active {
                }
                &:hover {
                }
            }
        }
        &-slide {
            &-wrap {
                // width: 100%;
                min-height: unset;
                height: 27rem;
            }
            &-final {
                
                padding-left: 28.125rem;
            }
            &.quiz-active {}
            h3 {
                width: 41.875rem;
                font-size: 2.5rem;
                text-align: left;
            }
        }
        &__radio {
            &-wrap {
                width: 50rem;
                display: flex;
                flex-wrap: wrap;
            }
            $self: &;
            width: 22.6875rem;
            height: 4rem;
            line-height: 4rem;
            padding-left: 1.375rem;
            cursor: pointer;
    
            margin-bottom: 1.0625rem;
            margin-right: 1.0625rem;
            &-toggler {
                width: 1.5625rem;
                height: 1.5625rem;
                margin-right: 1rem;
                &--inner {
                    width: 0.9375rem;
                    height: 0.9375rem;
                }
            }
            &-value {
                span {
                }
            }
            &--sm {
                #{$self + -value} {
                    font-size: 1.1875rem;
                }
            }
            transition: $transition--fast;
            &:hover {
                border-color: $primary;
                box-shadow: 2px 2px 4px rgba($primary, 0.3);
            }
            &.quiz-active {
                #{$self + -toggler} {
                }
                #{$self + -toggler--inner} {
                }
            }

        }
        &__input {
            &-wrap {
                .quiz__radio-toggler {
                    left: 1.4rem;
                }
                &:hover {
                    .quiz__input {
                        border-color: $primary;
                        box-shadow: 2px 2px 4px rgba($primary, 0.3);
                    }
                    
                }
                &.quiz-active {
                    .quiz__input {
                    }
                    .quiz__radio-toggler {
                    }
                    .quiz__radio-toggler--inner {
                    }
                }
            }
            width: 46.5rem;
            height: 4rem;
            padding-left: 5.9375rem;
            font-size: 1.25rem;
        }
        &__final {
            &-title {
                width: 26.875rem;
                font-size: 2.5rem;
                line-height: 1.05em;
                text-align: left;
                margin-top: 4rem;
                margin-bottom: 1.25rem;
            }
            &-subtitle {
                width: unset;
                font-weight: normal;
                font-size: 1.875rem;
                text-align: left;
                margin: 0 0 1.1875rem;
            }
            &-input {
                width: 19.5625rem;
                height: 4rem;
                text-align: left;
                font-size: 1.25rem;
                margin-bottom: 1.875rem;
                padding-left: 2.375rem;  
            }
            &-submit {
                line-height: 4rem;
                font-size: 1.125rem;
                width: 19.5625rem;
            }
        }
    }
    
}