#quiz {
    .popup {
        &__body {
            padding: 2.125rem 1.2rem;
            @media (min-width: map-get($grid-breakpoints, md)) {}
            @media (min-width: map-get($grid-breakpoints, lg)) {
                width: 78.5625rem;
                height: 44.5625rem;
                padding: 7.4375rem 0 0 8.75rem;
            }
        }
    }
}
.quiz {
    &__ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: none;
        #qfbg {
            opacity: 0;
            transition: $transition--fast;
        }
    }
    &__img {
        &-dim {
            width: 19.25rem;
            position: absolute;
            left: -2rem;
            top: 14.75rem;
        }
        &-tel {
            width: 16.9375rem;
        }
        
        @media (min-width: map-get($grid-breakpoints, md)) {
            
            &-dim {
                left: 5rem;
            }
            &-tel {
                position: relative;
                left: 6rem;
            }
        }
    }
    &__main {
        position: relative;
        // width: 16.9375rem;
        // margin: 0 auto;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 0.875rem;
        margin-top: -0.4rem;
        margin-bottom: 0.5625rem;
        color: $primary;
    }
    &__nav {
        margin-top: 0.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__progress {
        margin-bottom: 0;
        &-title {
            font-family: Montserrat;
            font-weight: 300;
            font-size: 0.75rem;
            color: #A3A3A3;
            margin-bottom: 0.25rem;
        }
        &-nav {
            &.disabled {
                pointer-events: none;
                opacity: $disabled-opacity;
            }
            li {
                padding: 0 0.18rem;
            }
        }
    }
    &__btns {
        display: flex;
        justify-content: flex-end;
        button {
            width: 12.625rem;
            line-height: 3.3125rem;
            font-size: 1.125rem;
            &:active {
            }
            @media (min-width: map-get($grid-breakpoints, lg)) {
                &:hover {
                }
            }
        }
    }
    &-btn {
        &-prev {
            svg {
                width: 0.45rem;
                margin-right: 0.7rem;
                margin-left: -0.5rem;
            }
        }
        &-next {
            svg {
                width: 0.45rem;
                margin-left: 0.7rem;
                margin-right: -0.5rem;
            } 
        }
    }
    &-slide {
        &-wrap {
            width: 100%;
            min-height: 24.5625rem;
            transition: $transition--fast;
            position: relative;
        }
        width: 100%;
        height: 100%;
        transition: $transition--slow;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        &-final {}
        &.quiz-active {
            opacity: 1;
            visibility: visible;
            pointer-events: initial;
        }
        h3 {
            line-height: 1.17em;
            font-family: Raleway;
            font-weight: 600;
            font-size: 1.25rem;
            // text-align: center;
            margin-bottom: 0.6rem;
        }
    }
    &__radio {
        $self: &;
        width: 100%;
        height: 3.375rem;
        padding-left: 1rem;
        display: flex;
        align-items: center;

        background: rgba(255, 255, 255, 0.5);
        border-width: 1px;
        border-style: solid;
        border-color: #D8D8D8;
        border-radius: 0.5rem;
        box-shadow: 2px 2px 4px rgba($primary, 0);

        margin-bottom: 0.7375rem;
        &-toggler {
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            align-items: center;
            width: 1.3125rem;
            height: 1.3125rem;
            background: #C4C4C4;
            border-width: 0.0625rem;
            border-style: solid;
            border-color: transparent;
            border-radius: 50%;
            box-shadow: 0px 1px 3px 1px rgba($primary, 0);
            margin-right: 0.9rem;
            &--inner {
                width: 0.8125rem;
                height: 0.8125rem;
                border-radius: 50%;
                background: transparent;
                box-shadow: 0px 1px 3px 1px rgba($primary, 0);
                transition: $transition--fast;   
            }
        }
        &-value {
            line-height: 1.2em;
            font-size: 1rem;
            span {
                color: #A3A3A3;
            }
        }
        &--sm {
            #{$self + -value} {
                font-size: 0.875rem;
            }
        }
        &.quiz-active {
            background: #FAFAFA;
            border-color: $primary;
            box-shadow: 2px 2px 4px rgba($primary, 0.3);
            #{$self + -toggler} {
                border-color: $primary;
                background: transparent;
                box-shadow: 0px 1px 3px 1px rgba($primary, 0.3);
            }
            #{$self + -toggler--inner} {
                background: $primary;
                box-shadow: 0px 1px 3px 1px rgba($primary, 0.3);
            }
        }
    }
    &__input {
        &-wrap {
            position: relative;
            .quiz__radio-toggler {
                pointer-events: none;
                user-select: none;
                @include center-item-y();
                left: 1rem;
            }
            &::before {
                content: '';
                display: block;
                width: 3.3375rem;
                height: 100%;

                border-right-width: 0.0625rem;
                border-right-style: solid;
                border-right-color: #CFCFCF;
                transition: $transition--normal;

                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                user-select: none;
            }
            &::after {
                content: attr(data-placeholder);
                line-height: 1.1em;
                font-size: inherit;
                color: #A3A3A3;
                left: 4.75rem;
                @include center-item-y();
                pointer-events: none;
                user-select: none;
            }
            &.focused, &.notnull {
                &::after {
                    content: none;
                }
            }
            &.quiz-active {
                .quiz__input {
                    background: #FAFAFA;
                    border-color: $primary;
                    box-shadow: 2px 2px 4px rgba($primary, 0.3);
                }
                .quiz__radio-toggler {
                    border-color: $primary;
                    background: transparent;
                    box-shadow: 0px 1px 3px 1px rgba($primary, 0.3);
                }
                .quiz__radio-toggler--inner {
                    background: $primary;
                    box-shadow: 0px 1px 3px 1px rgba($primary, 0.3);
                }
                &::before {
                    border-right-color: $primary;
                }
            }
        }
        width: 100%;
        height: 3.375rem;
        padding-left: 4.75rem;
        font-size: 0.9375rem;
        background: rgba(255, 255, 255, 0.5);
        border-width: 0.0625rem;
        border-style: solid;
        border-color: #D8D8D8;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 0.5rem 0.1875rem transparent;
    }
    &__final {
        &-icons {
            display: none;
        }
        &-input {
            padding-left: 4.5rem;
            width: 100%;
            height: 3.75rem;
            font-size: 1rem;
            margin-top: 4.5rem;
            margin-bottom: 0.8125rem;
        }
        &-submit {
            line-height: 3.75rem;
            font-size: 1rem;
            width: 100%;
        }
        &-agr {
            width: 14.8125rem;
            font-size: 0.875rem;
            line-height: 1.11em;
            color: #A2A2A2;
            margin-top: 0.5625rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__thx {
        padding-top: 3.125rem;
        padding-left: 0.9375rem;
        &-title {
            font-family: Raleway;
            font-weight: bold !important;
            font-size: 1.75rem !important;
            line-height: 2.0625rem;
            margin-bottom: 0.9375rem;
        }
        &-subtitle {
            font-family: Raleway;
            font-weight: 500;
            font-size: 1.3125rem;
            line-height: 1.5625rem;
            margin-bottom: 1.875rem;
        }
        &-big {
            font-weight: 500;
            font-size: 5.625rem;
            line-height: 1em;
            color: $primary;
        }
        &-small {
            font-weight: bold;
            font-size: 1.25rem;
            color: $primary;
            margin-top: -0.625rem;
            margin-bottom: 6.25rem;
        }
        &-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-img {
                width: 11.125rem;
            }
            &-title {
                width: 11.125rem;
                font-family: Montserrat;
                font-size: 0.75rem;
                text-align: center;
                letter-spacing: 0.07em;
                color: #6A6A6A;
                position: relative;
                margin-top: 1rem;
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 0.0625rem;
                    background: #6A6A6A;
                    opacity: 0.6;
                    position: absolute;
                    top: -0.25rem;
                }
            }
        }
    }
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .quiz { 
        &__ibg {
            display: block;
            z-index: -3;
            @include center-item-x();
            width: 100vw;
        }
        &__main {
            padding-bottom: 30px;
        }
        &__subtitle {
            margin-bottom: 1.5rem;
            width: 25rem;
        }
        &__progress {
            &-title {
                font-size: 0.875rem;
                margin-bottom: 0.5rem;
                margin-left: 0.4rem;
                text-align: left;
            }
            &-nav {
                &.disabled {}
            }
        }
        &__btns {
            width: 34.5rem;
            display: flex;
            justify-content: space-between;
            margin-left: 0;
            button {
                width: 16.4375rem;
                line-height: 4rem;
                font-size: 1.125rem;
                border-radius: 3.125rem;
                &:active {
                }
                &:hover {
                }
            }
        }
        &-slide {
            &-wrap {
                // width: 100%;
                min-height: 23.3rem;
            }
            &:nth-child(2) {
                .quiz__input {
                    width: 330px;
                    &-wrap {
                        height: 65px;
                    }
                }
            }
            &:nth-child(4) {
                .quiz__input {
                    width: 330px;
                    &-wrap {
                        height: 65px;
                    }
                }
            }
            &:nth-child(5) {
                .quiz__radio {
                    width: 448px;
                }
            }
            padding-left: 0.4rem;
            &-final {
                
            }
            &.quiz-active {}
            h3 {
                font-size: 2.2rem;
                text-align: left;
                margin-bottom: 1.4rem;
            }
        }
        &__radio {
            &-wrap {
                width: 50rem;
                display: flex;
                flex-wrap: wrap;
            }
            $self: &;
            width: 330px;
            height: 65px;
            line-height: 22px;
            padding-left: 1.375rem;
            cursor: pointer;
    
            margin-bottom: 1.0625rem;
            margin-right: 1.0625rem;
            &-toggler {
                flex-shrink: 0;
                width: 1.5625rem;
                height: 1.5625rem;
                margin-right: 1rem;
                &--inner {
                    width: 0.9375rem;
                    height: 0.9375rem;
                }
            }
            &-value {
                font-size: 19px;
                span {
                }
            }
            &--sm {
                #{$self + -value} {
                    font-size: 1.1875rem;
                }
            }
            transition: $transition--fast;
            &:hover {
                border-color: $primary;
                box-shadow: 2px 2px 4px rgba($primary, 0.3);
            }
            &.quiz-active {
                #{$self + -toggler} {
                }
                #{$self + -toggler--inner} {
                }
            }

        }
        &__input {
            &-wrap {
                &::before {
                    width: 65px;
                }
                &::after {
                    font-size: 19px;
                    left: 80px;
                }
                .quiz__radio-toggler {
                    left: 1.4rem;
                }
                &:hover {
                    .quiz__input {
                        border-color: $primary;
                        box-shadow: 2px 2px 4px rgba($primary, 0.3);
                    }
                    
                }
                &.quiz-active {
                    .quiz__input {
                    }
                    .quiz__radio-toggler {
                    }
                    .quiz__radio-toggler--inner {
                    }
                }
            }
            width: 677px;
            height: 4rem;
            padding-left: 80px;
            font-size: 19px;
        }
        &__final {
            &-icons {
                display: block;
                position: absolute;
                top: 67px;
                left: 449px;
                z-index: -1;
            }
            &-icon {
                margin-bottom: 41px;
            }
            &-form {
                width: 34.05rem;
                margin-top: 2rem;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
            &-input {
                padding-left: 0;
                text-align: center;
                width: 263px;
                height: 4rem;
                font-size: 18px;
                margin-top: 0;
                margin-bottom: 0;
            }
            &-submit {
                line-height: 4rem;
                font-size: 18px;
                width: 263px;
                margin-left: 1rem;
            }
            &-agr {
                @if $lang == 'ru' {
                    width: 14.8125rem;
                }
                @if $lang == 'ukr' {
                    width: 15.8125rem;
                }
                margin-top: 4px;
                margin-left: auto;
                margin-right: 8px;
            }
        }
        
        &__thx {
            padding-top: 130px;
            padding-left: 50px;
            &-title {
                // width: 360px;
                font-size: 35px !important;
                line-height: 2.0625rem !important;
                margin-bottom: 10px !important;
            }
            &-subtitle {
                margin-bottom: 1rem;
            }
            &-big {
                font-size: 120px;
                line-height: 1em;
            }
            &-small {
                font-size: 25px;
                margin-top: -0.625rem;
                margin-bottom: 6.25rem;
            }
            &-logo {
                position: absolute;
                top: 54px;
                left: 50px;
            }
        }
    }
    
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .quiz {
        &__ibg {
            width: 100%;
        }
        &__img {
            
        }
        
        &__main {
            padding-top: 45px;
            padding-left: 90px;
            padding-right: 85px;
            width: 920px;
            height: 545px;
            filter: drop-shadow(4.00505px 4.00505px 10.0126px rgba(78, 78, 78, 0.3));
            border-radius: 15px;
            overflow: hidden;
        }
        &__subtitle {
            margin-bottom: 1.5rem;
            width: 25rem;
            font-size: 18px;
        }
        &__progress {
            margin-bottom: 1rem;
            &-title {
                font-size: 0.875rem;
                margin-bottom: 0.5rem;
                margin-left: 0.4rem;
                text-align: left;
            }
            &-nav {
                &.disabled {}
            }
        }
        &__btns {
            width: 34.375rem;
            display: flex;
            justify-content: space-between;
            margin-left: 3.75rem;
            button {
                width: 16.4375rem;
                line-height: 4rem;
                font-size: 1.125rem;
                border-radius: 3.125rem;
                &:active {
                }
                &:hover {
                }
            }
        }
        &-slide {
            &-wrap {
                // width: 100%;
                min-height: unset;
                height: 23.2rem;
            }
            &:nth-child(2) {
                .quiz__input {
                    width: 22.6875rem;
                    &-wrap {
                        height: 4rem;
                    }
                }
            }
            &:nth-child(4) {
                .quiz__input {
                    width: 22.6875rem;
                    &-wrap {
                        height: 4rem;
                    }
                }
            }
            &-final {
            }
            &.quiz-active {}
            h3 {
            }
        }
        &__radio {
            &-wrap {
                width: 50rem;
                display: flex;
                flex-wrap: wrap;
            }
            $self: &;
            width: 22.6875rem;
            height: 4rem;
            line-height: 1.3rem;
            padding-left: 1.375rem;
            cursor: pointer;
    
            margin-bottom: 1.0625rem;
            margin-right: 1.0625rem;
            &-toggler {
                width: 1.5625rem;
                height: 1.5625rem;
                margin-right: 1rem;
                &--inner {
                    width: 0.9375rem;
                    height: 0.9375rem;
                }
            }
            &-value {
                span {
                }
            }
            &--sm {
                #{$self + -value} {
                    font-size: 1.1875rem;
                }
            }
            transition: $transition--fast;
            &:hover {
                border-color: $primary;
                box-shadow: 2px 2px 4px rgba($primary, 0.3);
            }
            &.quiz-active {
                #{$self + -toggler} {
                }
                #{$self + -toggler--inner} {
                }
            }

        }
        &__input {
            &-wrap {
                .quiz__radio-toggler {
                    left: 1.4rem;
                }
                &:hover {
                    .quiz__input {
                        border-color: $primary;
                        box-shadow: 2px 2px 4px rgba($primary, 0.3);
                    }
                    
                }
                &.quiz-active {
                    .quiz__input {
                    }
                    .quiz__radio-toggler {
                    }
                    .quiz__radio-toggler--inner {
                    }
                }
            }
            width: 46.5rem;
            height: 4rem;
            font-size: 1.25rem;
        }
        &__final {
            &-icons {
                top: 107px;
            }
            &-form {
                width: 100%;
                margin-top: 1rem;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
            &-input {
                padding-left: 0;
                text-align: center;
                width: 263px;
                height: 4rem;
                font-size: 18px;
                margin-top: 0;
                margin-bottom: 0;
            }
            &-submit {
                line-height: 4rem;
                font-size: 18px;
                width: 263px;
                margin-left: 1rem;
            }
            &-agr {
                width: 14.8125rem;
                margin-top: 4px;
                margin-left: auto;
                margin-right: 8px;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &__thx {
            padding-top: 94px;
            padding-left: 0;
            &-title {
                width: 360px;
            }
            &-subtitle {
                margin-bottom: 60px;
            }
            &-logo {
                top: 0;
                left: 0px;
            }
        }
    }
    
}